## List Comprehension

What is a list comprehension?
● A list comprehension provides a concise way to create another list
● Using list comprehensions reduces the number of code lines making it. It look more 
elegant
● It is possible to use conditions in a list comprehension
● The list comprehension always returns a list

In [ ]:
# Syntax 1:   [value for value in iterable]                
# Syntax 2:   [value for value in iterable if condition]   {used to filter the list}   
# Syntax 3:   [val1 if cond else val2 for i in iterable]   {used to map the values over iterable}

In [1]:
[i for i in range(1,6)]

[1, 2, 3, 4, 5]

In [2]:
l=[]
for i in range(1,6):
    l.append(i)

In [ ]:
[i for i in range(10,16)]  # Eg Syntax 1

In [ ]:
[i**2 for i in range(5)]   # Eg Syntax 1

In [ ]:
[i+2 for i in [23,43,56,12,88]] # Eg syntax 1

In [ ]:
[i for i in range(1,21) if i%3==0] # Eg syntax 2

In [3]:
[i for i in range(1,101) if i%7==0 and i%3==0]

[21, 42, 63, 84]

In [4]:
[i+2 for i in [23,43,56,12,88] if i%2==0] # Eg syntax 2

[58, 14, 90]

In [5]:
[i+2 if i%2==0 else i for i in [23,43,56,12,88]] # Eg syntax 3

[23, 43, 58, 14, 90]

In [7]:
li=[2,3,5,6,8,7]
[True if i%2==0 else False for i in li]

[True, False, False, True, True, False]

In [ ]:
['Odd' if i%2==1 else 'Even' for i in [3,6,9,12,18,21,24,27,30]]  # Eg syntax 3

Q. Print a list between 1 to 50 where all the values are multiple of 3 and 5 both

In [9]:
[i for i in range(1,51) if i%3==0 and i%5==0]

[15, 30, 45]

Q. li = ['Apple','Kiwi','Mango','Banana','Papaya','Pear'] create a list of all the fruits which have 'a' in name

In [14]:
li = ['Apple','Kiwi','Mango','Banana','Papaya','Pear']
[i for i in li if 'a' in i.lower()]

['Apple', 'Mango', 'Banana', 'Papaya', 'Pear']

In [15]:
# Q. Create a new list with the no of characters in each fruit name

[len(i) for i in li ]

[5, 4, 5, 6, 6, 4]

In [16]:
#Q. Print the cube of first 10 numbers
[i**3 for i in range(1,11)]

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [17]:
#Q. strings = ['baby','muscle','dalmations101','hulk3','titanic']  create a list with value alphabet if movie name has only alphabets and alphanumber if movie name has alphabets and number
strings = ['baby','muscle','dalmations101','hulk3','titanic']
['alphabet' if i.isalpha() else 'alphanumber' for i in strings]

['alphabet', 'alphabet', 'alphanumber', 'alphanumber', 'alphabet']

Q. [-2,9,3,0,7,-4,0,5], create a list with values neg if number is negative pos if number is positive else zero.

In [19]:
['pos'if i>0 else 'neg' if i<0 else 'zero'for i in [-2,9,3,0,7,-4,0,5] ]

['neg', 'pos', 'pos', 'zero', 'pos', 'neg', 'zero', 'pos']

In [ ]:
l1=[4,5,3,6]
l2=[8,1,3,9]

[x+y for x,y in zip(l1,l2)]

[12, 6, 6, 15]

In [ ]:
l1=[4,5,3,6]
l2=[8,1,3,9]

l=[]

In [21]:
name =['Ajay','Neha', 'Mukesh', 'Swati']
marks = [67,89,90,76]

{k:n for k,n in zip(name,marks) }

{'Ajay': 67, 'Neha': 89, 'Mukesh': 90, 'Swati': 76}

In [26]:
{w:e**3 for w,e in zip(range(1,6), range(1,6))}

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

Q. name =['Ajay','Neha', 'Mukesh', 'Swati']
marks = [67,89,90,76]
create a dictionary with two lists using list comprehension

Q. create a dictionary where key is a fruit name and value is the length of the fruit name
fruit = ['Apple','Kiwi','Mango','Banana','Papaya','Pear']

In [ ]:
fruit = ['Apple','Kiwi','Mango','Banana','Papaya','Pear']
{w:len(w) for w in fruit}

{'Apple': 5, 'Kiwi': 4, 'Mango': 5, 'Banana': 6, 'Papaya': 6, 'Pear': 4}

In [29]:
#Q. create a dictionary where key is a fruit name and value is odd if length of the fruit name is odd else even
{k:'odd' if len(k)%2==1 else 'even' for k in fruit}

{'Apple': 'odd',
 'Kiwi': 'even',
 'Mango': 'odd',
 'Banana': 'even',
 'Papaya': 'even',
 'Pear': 'even'}

In [ ]:
for j in range(6):
    for i in range(1,j+1):
        print(i, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [35]:
for j in range(6):
    for i in range(1,j+1):
        print(j, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [54]:
for j in range(6):
    for i in range(1,j+1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
for j in range(6):
    for i in range(1,j+1):
        print("*" *(j-i), end=" ")
    print("")

*
** *
*** ** *
**** *** ** *

In [46]:
for j in range(6,-1,-1):
    for i in range(j):
        print("*", end=" ")
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [55]:
for j in range(6):
    for i in range(1,j+1):
        print("*", end=" ")
    print()

for j in range(6,-1,-1):
    for i in range(j):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [60]:
#fabonacci
a,b=0,1
fab=0
print(a,b,sep=" ",end=" ")
for i in range(10):
    fab=a+b
    print(fab,end=" ")
    a=b
    b=fab

0 1 1 2 3 5 8 13 21 34 55 89

In [63]:
#fabonacci second way
a,b=0,1
fab=0
for i in range(12):
    print(a,end=" ")
    fab=a+b
    a=b
    b=fab

0 1 1 2 3 5 8 13 21 34 55 89

In [84]:
#fabonacci third way[LIST]

listt=[0,1]
for i in range(8):
    next_num=listt[-1]+listt[-2]
    listt.append(next_num)

listt

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [64]:
num=34
string="How are you?"
print(string+num)

TypeError: can only concatenate str (not "int") to str

In [ ]:
#AMICABLE
num1=int(input("enter first number: "))
num2=int(input("enter second number: "))
fact1=[i for i in range(1,num1) if num%i==0]
fact2=[i for i in range(1,num1) if num%i==0]

if sum(fact1)==num2 and sum(fact2)==num1:
    print('Amicable')
else:
    print("not Amicable")

In [ ]:
#ARMSTRONG
num_1= input("enter a number: ")
len_of_digits=[int(i)**len(num_1) for i in num_1]

if sum(len_of_digits)==int(num_1):
    print("Armstrong")
else:
    print("not Armstrong")

In [ ]:
amount=input("enter the number: ")
# currency=[500,200,100,50,20,10,5,2,1]
len_amount=[]
for i in range(3):
    len_amount.insert(0,amount%10)
    amount=amount//10

len_amount

[6, 7, 9]

In [ ]:
#find denominant of the amount.
amount=int(input("enter the number: "))
currency=[500,200,100,50,20,10,5,2,1]
# len_amount=[]
for i in currency:
    print(i,"X",amount//i)
    amount=amount%i
25

500 X 0
200 X 1
100 X 0
50 X 1
20 X 0
10 X 1
5 X 1
2 X 1
1 X 0

25

In [78]:
#transpose of an matrix

lenn=[[1,2],[3,4],[5,6],[7,8]]

[[i[j] for i in lenn]for j in range(2)]

[[1, 3, 5, 7], [2, 4, 6, 8]]

In [82]:

# new_list=[]

[[i*j for i in range(1,11)]for j in range(11,21)]

[[11, 22, 33, 44, 55, 66, 77, 88, 99, 110],
 [12, 24, 36, 48, 60, 72, 84, 96, 108, 120],
 [13, 26, 39, 52, 65, 78, 91, 104, 117, 130],
 [14, 28, 42, 56, 70, 84, 98, 112, 126, 140],
 [15, 30, 45, 60, 75, 90, 105, 120, 135, 150],
 [16, 32, 48, 64, 80, 96, 112, 128, 144, 160],
 [17, 34, 51, 68, 85, 102, 119, 136, 153, 170],
 [18, 36, 54, 72, 90, 108, 126, 144, 162, 180],
 [19, 38, 57, 76, 95, 114, 133, 152, 171, 190],
 [20, 40, 60, 80, 100, 120, 140, 160, 180, 200]]

Q [[1,2,3],[1,2,3],[1,2,3]]