<table align="center" width=100%>
    <tr>
        <td width="20%">
            <img src="homework.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> TakeHome<br>(Day 2)
                    </b>
                </font>
            </div>
        </td>
        <td width="25%">
            <img src="NEW_GL_Logo.png">
        </td>
    </tr>
</table>

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Write a program to swap the two integers passed as runtime variables</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
# type your code here
a,b=23,15
a,b=b,a
print(a,b)

15 23

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write a program to print the product of two numbers 'x' and 'y' </b>
                    <br><br>
                    <b> x = 10 ; y = "15"  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:
# type your code here
x,y=10,15
product=x*y
print(product)

150

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. A text is given below. Write a program to find the character which is at the index position obtained by adding the indices of the character 'o' of the word 'Hello' and 'o' of the word 'welcome'</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>string = "Hello, welcome to my world." </b>

In [ ]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 4. Create a tuple with single value '5'</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Retrieve the third element in the given list</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**
    
num_list = [5, 3, 6, 1, 85, 23, 5, 13]

In [ ]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Count the occurance of number -6 in the given tuple</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple given below:**
    
num_tuple = (-4, 7, -8, -9, 8, -6, 7, 3, -6, 1, -8, -6)

In [ ]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 7. Check whether the number 53 is in the given list or not</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**
    
num_list = [5, 3, 6, 1, 85, 23, 5, 13]

In [ ]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write a program to convert a list into tuple  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list below:**

num_list = [24, 18, 24, 47, 52]

In [ ]:
# type your code here